table {
    counter-reset: rowNumber;
    
    border-collapse: collapse;
    width: 100%;
    text-align:center;
	font-size: 18px;  
	font-style: italic;
}

table tbody tr {
    counter-increment: rowNumber;
}

table tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}


th,td{
	border: 2px solid #ddd;
	padding:15px;
}

th {
	background-color: #0b911c;;
	color: white;
	text-align: center;
}

 h1{
	color: #0b911c;
}

.clfTable{
	overflow-x: auto;
}


