<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Campus Life Games</title>
	<meta http-equiv="Content-Type" content ="text/html" charset="UTF-8"/>
		<!-- Google Charts -->
	    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <!-- BootStrap -->
	    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <!-- save this for later -->
    	<script type="text/javascript">	</script>

<body>

	<!-- User Input -->
	<h1>Add A Game!</h1>
	<form action="/" method="post">
	  Game Name:<br>
	  <input type="text" name="gamename">
	  <input type="submit" value="Submit">
	  <input type="reset" value="Reset">
	</form>
	
	<!-- List Of Games -->
	<h1>List Of Games</h1>
	<table>
		<thead>
			<tr>
				<th>Game</th>
			</tr>
		</thead>
			<tr th:each="i : ${list}">
				<td th:text="${i}"></td>
			</tr>
	</table>
</body>


</head>
</html>