<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Campus Life Games</title>
	<meta http-equiv="Content-Type" content ="text/html" charset="UTF-8"/>
		<!-- Google Charts -->
	    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <!-- BootStrap -->
	    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <!-- save this for later -->
    	<script type="text/javascript">	</script>

<body>
	<form action="/" method="post">
	  Game Name:<br>
	  <input type="text" name="gamename">
	  <input type="submit" value="Submit">
	  <input type="reset" value="Reset">
	</form>


</body>


</head>
</html>